body {
    background-color: 	#FF8C00;
    color: #fff;
    text-align: center;
    font-family: purisa, serif;
}

img {
    width: auto;
    height: 300px;
}

a{
    text-decoration: none;
}

h2 {
    text-decoration: underline;
}

li {
    list-style: none;
}
